@page "/Cliente"
@inject IHttpService http
@using CobrarSeguros.BD.Data.entidades

<h3>Cliente</h3>
<p>hola cliente </p>


@code 
{
    List<Clientes> Clientes ;

    protected override async Task OnInitializedAsync()
    {
        base.OnInitializedAsync();
        await Leer();
    }

    private async Task Leer()
    {
        var respuesta = await http.Get<List<Clientes>>("api/Clientes"); 
        if (respuesta.Error)
        {
            Clientes = respuesta.Respuesta; 
        }
    }
}
