@page "/Cliente/Crear"
@inject IHttpService http
@inject NavigationManager navigationManager

<h3>Nuevo Cliente</h3>

<FormCliente clientes="clientes" onCancel="Cancelar" onValidSubmit="Grabar">

</FormCliente>


@code {
    private Clientes clientes = new Clientes();

    private async void Grabar()
    {
        var httpRespuesta = await http.Post<Clientes>("api/Clientes", clientes); 
        if (httpRespuesta.Error)
        {
            var body = httpRespuesta.HttpResponseMessage; 
        }
    }
    private void Cancelar()
    {

    }
}
