@page "/Cliente/Editar/{clientesDNI:int}"
@inject IHttpService http
@inject NavigationManager navigationManager

<h3>Editar Cliente</h3>

<FormCliente clientes="clientes" onCancel="Cancelar" onValidSubmit="Grabar">

</FormCliente>


@code {

    private Clientes clientes = new Clientes();
    [Parameter] public int clientesDNI { get; set; }

    protected async override Task OnInitializedAsync()
    {
        await Mostrar();
    }

    private async Task Mostrar()
    {

        var respuesta = await http.Get<Clientes>($"api/Clientes/{clientesDNI}"); 
        if (respuesta.Error)
        {
            var body = respuesta.HttpResponseMessage;
        }
        else
        {
           clientes = respuesta.Respuesta; 
        }
    }


    private void Grabar()
    { 

    }
    private void Cancelar()
    {
        navigationManager.NavigateTo("/Cliente"); }
}
